<!doctype html>
<html lang="en-us">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>StudentDetails</title>
</head>
<body>
<div *ngIf="selectedstud" id="table">
<table>
  <tr>
    <th>ID:</th>
    <th>NAME:</th>
    <th>PHONE:</th>
    <th>COLLEGE:</th>
  </tr>
  <tr>
    <td>{{selectedstud.id}}</td>
    <td>{{selectedstud.name}}</td>
    <td>{{selectedstud.phone}}</td>
    <td>{{selectedstud.colg}}</td>
  </tr>
</table>
</div>
</body>
</html>
